<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <div class="search">
        <label for="keyword">关键字：</label>
        <input
          type="text"
          id="keyword"
          name="keyword"
          placeholder="请输入关键字"
        />
        发布时间：<input type="date" /> <input type="date" />
        <button>→</button>
      </div>
      <div class="list"></div>
      555555
    </div>
  </body>
</html>
